<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>News</h2>
<!--<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"></p>-->

Our paper about GTac sensors has been accepted by IEEE Sensors Journal. For more information, check out the <a href="https://roobooot.github.io/GTac_/gtac_sensor.html">[project page]</a>.  - June, 2022

Our paper about GTac-Gripper has been accepted by IEEE RA-L. For more information, check out the <a href="https://roobooot.github.io/GTac_/gtac_gripper.html">[project page]</a>.  - May, 2022

We posted our paper about GTac to arXiv and the paper is in peer review. For more information, check out <a href="https://arxiv.org/abs/2201.12005">https://arxiv.org/abs/2201.12005</a>
or click the <a href="https://roobooot.github.io/GTac_/">project page</a>.  - Jan, 2022


<!--<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Projects</h2>-->
<div class="d-flex flex-wrap gutter-condensed mb-4 mt-4">
  {% for topic in site.topics %}
    <div class="col-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      {% include topic-card.html %}
    </div>
  {% endfor %}
</div>
