{% if site.layout == 'stacked' %}
  {% assign metadata_styles = 'd-md-inline-block mx-3 mb-1 mb-md-0' %}
{% else %}
  {% assign metadata_styles = 'd-flex flex-items-center mb-3' %}
{% endif %}

<!-- <img src="{{ user.avatar_url }}" class="circle mb-3" style="max-width: 150px;"> -->

<div>
    <p style="float: left;">
      <img src="https://bnz05pap001files.storage.live.com/y4mB0-KdEyWDioKfSw-YvVgxntmFjJKZvAN29qOfy89b20zCdhDAFENApyn1zC11zsEjbYGkufKDcWHnvtf-Di2TMVJOTDUpeauW_kBmxebLUfzxsRKUSa0gbZva38HEXMB1gxcPOZJ51GcwCE9i3hM8wvM7gK7_OIaQGL-kjIYGU95KC6xoY-EEDpDUowzT-ez?width=1024&height=576&cropmode=none"
class="rounded mr-3 mt-3" width="300" height="300" alt="I love nature and sit on the ground of autumn" /></p>
</div>


<h1 class="{% if site.style == 'dark' %}text-white{% endif %} mb-2 lh-condensed">
  Zeyu Lu (Zach)
</h1>


<p class="mb-3 f4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
  I am a PhD condidate at the Department of Biomedical Engineering of National University of Singapore. My PhD thesis is supervised by <a href="https://cde.nus.edu.sg/bme/staff/dr-yuhy/">Prof. Haoyong Yu</a> in the
  <a href="https://wiki.nus.edu.sg/display/biorobotics/Biorobotics+Lab">Biorobotics Lab</a>. I received a B.E. from <a
        href="https://mee.sustech.edu.cn/en/">MEE@SUSTech</a> under the supervision of <a href="https://faculty.sustech.edu.cn/fucl/en/">Prof. Chenglong Fu</a>.
  My research interests are focused on <b>bio-inspired robotic design, machine learning</b> and <b>tactile sensing</b>. <img src="https://www.w3schools.com/images/lamp.jpg" alt="Lamp" width="16" height="16">

</p>
<a href="https://roobooot.github.io/GTac_/">[Project Page]</a>
<a href="https://drive.google.com/file/d/1nWrkxdGjbANDLPLfV-j_hJnf71B7UEMb/view?usp=sharing">[Curriculum Vitae]</a> (updated 2022/3)
{% if include.metadata %}
  <div class="f4 mb-6">
    <div class="{{ metadata_styles }}">
      {% octicon mail height:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:email %}
      <a href="mailto: zeyu.lu@u.nus.edu" {% if site.style == 'dark' %}class="text-white"{% endif %}>
        zeyu.lu@u.nus.edu
      </a>
    </div>
      
    {% if user.name %}
      <div class="{{ metadata_styles }}">
        {% octicon mark-github height:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:GitHub %}
        <a href="https://github.com/{{ user.login }}" {% if site.style == 'dark' %}class="text-white"{% endif %}>
          @{{ user.login }}
        </a>
      </div>
    {% endif %}

      <div class="{{ metadata_styles }} {% if site.style == 'dark' %}text-white{% endif %}">
        {% octicon location height:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:Location %}
        National University of Singapore
      </div>

    {% if site.social_media %}
      <div class="d-flex flex-wrap flex-items-start {% if site.layout == 'stacked' %}flex-justify-center mt-1 mt-md-3{% endif %}">
        {% for account in site.social_media %}
          <div class="{% unless forloop.last == true %}mr-3{% endunless %} mb-3">
            {% assign service_shortname = account[0] %}
            {% assign service = site.data.social_media[service_shortname] %}
            <a href="{{ service.profile_url_prefix }}{{ account[1] }}" class="tooltipped tooltipped-se" aria-label="{{ service.name }}: {{ account[1] }}">
              {{ service.icon_svg }}<span class="d-none">{{ service.name }}</span>
            </a>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endif %}


<h2 class="mt-3">Education</h2>

<h3>Degrees</h3>
  <p><b>2019-2023</b>: Ph.D. from <a href="https://cde.nus.edu.sg/bme/"><b>BME@NUS</b></a>
  <p><b>2015-2019</b>: B.E. from <a href="https://mee.sustech.edu.cn/en/"><b>MEE@SUSTech</b></a>

<h3>Visiting or Internship Experiences</h3>
<p><b>2018 Autumn</b>: Visiting Researcher supervised by <b>Dr. Haoyong Yu</b> at BME Dept at National University of Singapore (<b>NUS</b>)</p>
<p><b>2018 Summer</b>: Visiting Researcher supervised by <b>Dr. Gregory Chirikjian</b> at The Robot and Protein Kinematics Lab in Johns Hopkins University (<b>JHU</b>)</p>
<p><b>2017 Summer</b>: Visiting Researcher at <b>Dr. Chenglong Fu</b>'s lab at <b>Tsinghua University</b></p>
<p><b>2016 Summer</b>: Vancouver Summer Programm (<b>VSP</b>) at University of British Columbia (<b>UBC</b>)</p>
------------------------------------------------------------------------------------------------------------------------

<h2>Publications</h2>

<h3>Conferences</h3>
<p><b>Zeyu Lu</b>, Ashwin Narayan, and Haoyong Yu. 2020. “A Deep Learning Based End-to-End Locomotion Mode Detection Method for Lower Limb Wearable Robot Control.” In 2020 IEEE/RSJ International Conference on Intelligent Robots and Systems (IROS), 4091–97. <a href="https://doi.org/10.1109/IROS45743.2020.9341183">[link]</a> <a href="https://youtu.be/Iv7Nq_KXrD8">[video]</a>
</p>


<h3>Journals</h3>

<p><b>Zeyu Lu</b>, Haotian Guo, Wensi Zhang and Haoyong Yu. 2022. “GTac-Gripper: A Reconfigurable Under-actuated Four-fingered Robotic Gripper with Tactile Sensing”, June 2022. (Accepted by IEEE RA-L) <a href="https://roobooot.github.io/GTac_/gtac_gripper.html">[link]</a>
</p>

<p><b>Zeyu Lu</b>, Xingyu Gao, and Haoyong Yu. 2022. “GTac: A Biomimetic Tactile Sensor with Skin-like Heterogeneous Force Feedback for Robots.” ArXiv:2201.12005 [Cs], January. (Accepted by IEEE Sensors Journal) <a href="http://arxiv.org/abs/2201.12005">[link]</a>
</p>

<p>Zhang, Kuangen, Jianwen Luo, Wentao Xiao, Wen Zhang, Haiyuan Liu, Jiale Zhu,
  <b>Zeyu Lu</b>,
  Yiming Rong, Clarence W. de Silva, and Chenglong Fu. 2021.
  “A Subvision System for Enhancing the Environmental Adaptability of the Powered Transfemoral Prosthesis.”
  IEEE Transactions on Cybernetics 51 (6): 3285–97. <a href="https://doi.org/10.1109/TCYB.2020.2978216">[link]</a>
<!--  <a href="https://doi.org/10.1109/TCYB.2020.2978216">[link]</a>-->

</p>

<p>Leng, Yuquan, Xin Lin, <b>Zeyu Lu</b>, Aiguo Song, Zhangguo Yu, and Chenglong Fu. 2020.
  “A Model to Predict Ground Reaction Force for Elastically-Suspended Backpacks.”
  Gait & Posture 82 (October): 118–25. <a href="https://doi.org/10.1016/j.gaitpost.2020.08.131">[link]</a>
<!--  <a href="https://doi.org/10.1016/j.gaitpost.2020.08.131">[link]</a>-->

</p>
------------------------------------------------------------------------------------------------------------------------
<h2 align="left">Awards</h2>

<p>2017/8: Third prize and excellence award in the 11th National Zhou Peiyuan College Student Mechanics Competition</p>
<p>2018/4: “The Best Group” Award in 2018 World Robot Contest-Tri-Co Robots</p>
<p>2019/3: PhD Research Scholarship from NUS (special thank for supporting me to pursue the PhD degree.)</p>
------------------------------------------------------------------------------------------------------------------------
<!--<h2>Teaching</h2>-->